body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title_menu {
    font-size: 5vw;
    margin-top: 1vw;
}

#menu {
    text-align: center;
    padding: 3vw;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#menu h1 {
    margin: 0;
}

#menu .button-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

#menu button {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 5vw;
    font-size: 16px;
    margin-inline: 10vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
} 

#menu button:hover {
    background-color: #45a049;
}

#settings,
#leaderboard {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}
